.autocomplete * { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-radius: .25rem;
  background-color: white;
  z-index: 99;
  left: 0;
  margin-top: 3px;
  min-width: 100%;  
}

.autocomplete-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  color: gray;
  border-radius: .25rem;
  cursor: pointer;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.autocomplete-item:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: #d9d9d9 !important;
}


.autocomplete .matched {
  font-weight: bold;
  font-style: normal;
  color: initial;
}
.autocomplete .completed {
  font-weight: normal;
  font-style: normal;
  color: initial;
}
.autocomplete .hint {
  font-style: italic;
  color: gray;
}
