{% extends 'base.html' %}


{% block title %} OverProt - {{domain}} {% endblock %}


{% block content %}

<div class="row mb-2">
    <div class="col">
        <h2>
            Domain: {{domain}}
        </h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="summary">
            <tr>
                <th>Family:</th>
                <td><a href="/family_view?family_id={{family}}" title="Go to family {{family}}">{{family}}</a></td>
            </tr>
            <tr>
                <th>PDB:</th>
                <td><a href="/pdb/{{pdb}}" title="Go to PDB entry {{pdb}}">{{pdb}}</a></td>
            </tr>
            <tr>
                <th>Chain:</th>
                <td>{{chain}} &nbsp;<span class="text-muted">{{auth_chain}}</span></td>
            </tr>
            <tr>
                <th>Residues:</th>
                <td>{{ranges}} &nbsp;<span class="text-muted">{{auth_ranges}}</span></td>
            </tr>
            <tr>
                <th>Domain:</th>
                <td>{{domain}} &nbsp; <a href="/domain_view?family_id={{family}}&domain_id={{domain}}" title="Go to integrated view for domain {{domain}}">(Interactive view)</a></td>
            </tr>
        </table>
    </div>
</div>
    {% endblock %}
