{% extends 'base.html' %}


{% block title %} OverProt - Submission Form {% endblock %}


{% block content %}

<div class="row">
    <div class="col">
        <h2 class="mb-4">
            User-defined query
        </h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <form action="/submission" method="POST" enctype="multipart/form-data">
            <div class="row mb-2">
                <div class="col-12 col-lg-6">
                    <div style="display: flex; flex-wrap: wrap;">
                        <label for="input_job_name" class="my-auto">Job name:</label>
                        <input type="text" class="form-control" id="input_job_name" name="job_name" value="{{job_name}}" style="flex: 1;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="input_list">Protein domain list:</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-sm-6">
                    <textarea class="form-control" id="input_list" name="list" style="width: 100%; height: 100%; font-family: monospace;" rows="6">{{domain_list}}</textarea>
                    <div style="min-width: 250px;"></div>
                </div>
                <div class="col-12 col-sm-6">
                    List domains one-per-line,
                    <br><code>PDB,CHAIN</code>
                    or <code>PDB,CHAIN,RANGES</code>
                    <br>(maximum 500 domains) <span class="info" title="Chain IDs and residue ranges must be in the label* numbering scheme (not auth*)"></span>
                    <br><br>
                    Example:
                    <pre style="color: gray; font-size: 80%;" id="example_1">
1og2,A 
1og2,B 
1bu7,A,100:450 
1bu7,B,100:178,185:370,390:</pre>
                <input type="button" class="btn btn-outline-primary" value="Load example" onclick="
                    document.getElementById('input_list').value = document.getElementById('example_1').innerHTML;
                    document.getElementById('input_job_name').value = 'Example job - Cytochromes P450';
                    ">
                    <br>
                    <button type="button" class="btn btn-link p-0 mt-3" data-toggle="modal" data-target="#modal-time-estimation">Expected computation time</button>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="my-file">
                        or load domain list from file &nbsp;
                        <!-- <input type="file" id="input_list_file" name="list_file"> -->
                        <input type="button" class="my-file-button btn btn-outline-primary" for="input-list-file" value="Choose file">
                        <label class="my-file-label ml-1" for="input-list-file"></label>
                        <input type="file" class="my-file-input" id="input-list-file" name="list_file">
                    </div>
                </div>
            </div>
            <!-- <div class="row mb-2">
                                <div class="col">
                                    Chain and residue numbering scheme:
                                    <br>
                                    <input type="radio" id="input_numbering_auth" name="numbering" value="auth">
                                    <label for="input_numbering_auth">auth_*</label>
                                    <br>
                                    <input type="radio" id="input_numbering_label" name="numbering" value="label" checked>
                                    <label for="input_numbering_label">label_*</label>
                                </div>
                            </div> -->
            <div class="row mb-2">
                <div class="col">
                    <input type="submit" class="btn btn-primary px-4" value="Submit">
                </div>
            </div>
        </form>

                
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="modal-time-estimation" tabindex="-1" role="dialog" aria-labelledby="modallabel-pdbs" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabel-pdbs">Expected computation time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    The job computation time strongly depends on the number and size of the domains.
                    <br>
                    This table can help to roughly estimate the computation time.
                </p>
                <table class="striped-table text-center w-100 py-2">
                    <tr><th>Number of domains</th> <th>Domain size<br>170 residues</th> <th>Domain size<br>420 residues</th></tr>
                    <tr><th>5</th><td>13 s</td> <td>17 s</td></tr>
                    <tr><th>20</th><td>20 s</td> <td>30 s</td></tr>
                    <tr><th>100</th><td>50 s</td> <td>3.5 min</td></tr>
                    <tr><th>500</th><td>4 min</td> <td>20 min</td></tr>
                </table>
                <br>
                (These times are based on families 2.40.128.20 and 1.10.630.10)
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
    function setFilenameToLabels(inputs, labels){
        if (inputs.length == 0) {
            return;
        }
        let filename = '';
        if (inputs[0].files.length > 0) {
            filename = inputs[0].files[0].name;
        }
        for (let label of labels){
            label.innerText = filename;
        }
    }

    function initializeMyFile(myFileInputId){
        let inputs = $(`#${myFileInputId}`);
        let buttons = $(`.my-file-button[for=${myFileInputId}],.my-file-label[for=${myFileInputId}]`);
        let labels = $(`label[for=${myFileInputId}]`);
        if (inputs.length == 0) {
            return;
        }
        buttons.on('click', () => inputs.trigger('click', 'really-click'));
        inputs.on('click', (event, data) => { 
            if (data != 'really-click'){
                event.preventDefault();
            }
        });
        setFilenameToLabels(inputs, labels);
        inputs.on('input', () => setFilenameToLabels(inputs, labels));
    }

    initializeMyFile('input-list-file');
</script>

{% endblock %}