{% extends 'base.html' %}


{% block title %} OverProt - {{family_id}} {% endblock %}


{% block content %}

<div class="row">
    <div class="col">
        <h3>
            Family: &nbsp; <span class='family-id'>{{family_id}}</span> &nbsp;
            <span class='family-name' style='font-style: italic;'>&nbsp;</span>
        </h3>
        <overprot-viewer id="main-viewer" file="/data/db/family/diagram/diagram-{{family_id}}.json" height="300" width="1200" 
            color-method="sheet" shape-method="symcdf" beta-connectivity="true" occurrence-threshold="0.2" 
            dispatch-events="false" listen-events="false">
        </overprot-viewer>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <h3 class="text-center">2D view (2DProts)</h3>
        <img class="img-fluid d-block mx-auto" src="https://2dprots.ncbr.muni.cz/static/web/generated-{{family_id}}/imageCircle-multiple2.png" alt="2DProts for {{family_id}} not available">
    </div>
    <div class="col-12 col-md-6 mb-3">
        <h3 class="text-center">3D view (MAPSCI + OverProt)</h3>
        <img class="img-fluid d-block mx-auto" src="/data/db/family/consensus_3d/consensus-{{family_id}}.png">
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <h3>Family info</h3>
        <table class="summary">
            <tr>
                <th>PDB entries:</th>
                <td class="num">{{family_info.get('n_pdbs', '?')}} (<button class="btn btn-link p-0" data-toggle="modal" data-target="#modal-pdbs">List</button>)</td>
                <td><span class="info" title="Number of PDB entries that contain a domain from this family."></span></td>
            </tr>
            <tr>
                <th>Domains:</th>
                <td class="num">{{family_info.get('n_domains', '?')}} (<button class="btn btn-link p-0" data-toggle="modal" data-target="#modal-domains">List</button>)</td>
                <td><span class="info" title="Total number of protein domains in the family."></span></td>
            </tr>
            <tr>
                <th>Included domains:</th>
                <td class="num">{{family_info.get('n_sample_without_obsoleted', '?')}} (<button class="btn btn-link p-0" data-toggle="modal" data-target="#modal-included-domains">List</button>)</td>
                <td><span class="info" title="Number of protein domains included in the consensus computation.&NewLine;This equals one domain per each PDB entry, excluding obsoleted entries."></span></td>
            </tr>
            <tr>
                <th>Example domain:</th>
                <td><a href="/domain/{{example_domain}}">{{example_domain}}</a> (<a target="_blank" href="/view_domain?family_id={{family_id}}&domain_id={{example_domain}}">Interactive view</a>)</td>
                <td><span class="info" title="Example domain for the family, as defined by CATH."></span></td>
            </tr>
        </table>
    </div>
    <div class="col-12 col-md-6">
        <div class="row mb-3">
            <div class="col">
                <b>External links:</b>
                &emsp;
                <a href="https://cathdb.info/version/latest/superfamily/{{family_id}}" target="_blank">
                    <img src="/static/images/cath-logo.png" style="height: 1em;">
                    CATH&nbsp;&UpperRightArrow;
                </a>
                &emsp;
                <a href="https://2dprots.ncbr.muni.cz/family/{{family_id}}" target="_blank">
                    2DProts&nbsp;&UpperRightArrow;
                </a>
                &emsp;
                <!-- <input type="button" value="Save SVG" onclick="saveViewerSvg('main-viewer', 'overprot-{{family_id}}.svg')"> -->
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <b>Download:</b>
                &emsp;
                <a href="/data/db/family/zip_results/results-{{family_id}}.zip" target="_blank">
                    results.zip
                </a>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col text-justify">
        <p>
            On this page you can view the precomputed OverProt results for all structural families in the CATH database.
            The data were updated on {{last_update}}.
            For each family (i.e. CATH superfamily), the list of protein domains and PDB entries was downloaded from PDBe API.
            When a single PDB entry contained multiple domains from the same family, only one domain was included in the algorithm's input.
        </p>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="modal-pdbs" tabindex="-1" role="dialog" aria-labelledby="modallabel-pdbs" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabel-pdbs">PDB list for family {{family_id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <strong>Download:</strong>
                    &emsp;<a href="/data/db/family/lists/{{family_id}}/pdbs.csv" download="pdbs-{{family_id}}.csv">CSV</a>
                    &emsp;<a href="/data/db/family/lists/{{family_id}}/pdbs.json" download="pdbs-{{family_id}}.json">JSON</a>
                </div>
                <div id="table-pdbs" class="striped-table w-100 py-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-domains" tabindex="-1" role="dialog" aria-labelledby="modallabel-domains" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabel-domains">Domain list for family {{family_id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <strong>Download:</strong>
                    &emsp;<a href="/data/db/family/lists/{{family_id}}/domains.csv" download="domains-{{family_id}}.csv">CSV</a>
                    &emsp;<a href="/data/db/family/lists/{{family_id}}/domains.json" download="domains-{{family_id}}.json">JSON</a>
                    &emsp;<a href="/data/db/family/lists/{{family_id}}/family.json" download="family-{{family_id}}.json">JSON by PDB</a>
                </div>
                <div id="table-domains" class="striped-table w-100 py-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-included-domains" tabindex="-1" role="dialog" aria-labelledby="modallabel-included-domains" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabel-included-domains">Included domains for family {{family_id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <strong>Download:</strong>
                    &emsp;<a href="/data/db/family/lists/{{family_id}}/sample.csv" download="sample-{{family_id}}.csv">CSV</a>
                    &emsp;<a href="/data/db/family/lists/{{family_id}}/sample.json" download="sample-{{family_id}}.json">JSON</a>
                </div>
                <div id="table-included-domains" class="striped-table w-100 py-2"></div>
            </div>
        </div>
    </div>

    {% endblock %}


    {% block scripts %}

    <script type='text/javascript'>
        function loadContentToElement(element, source, overwrite=false, fullSource=null){
            let targetElement = $(element);
            if (targetElement.attr('loaded') && !overwrite){
                return;
            }
            let loadingText = `<div class="p-2 bg-light">Loading...</div>`;
            let errorText = `<div class="p-2 bg-light">&#x26A0; Failed to load ${source}</div>`;
            targetElement.empty();
            targetElement.append(loadingText);  
    
            fetch(source)
            .then(response => response.ok ? response.text() : errorText)
            .catch(response => errorText)
            .then(text => {
                targetElement.empty();
                targetElement.append(text);
                if (fullSource) {
                    targetElement.find('button.btn-load-all').on('click', () => loadContentToElement(element, fullSource, true));
                }
            });
            targetElement.attr('loaded', true);
        }

        $('#modal-pdbs').on('show.bs.modal', () => loadContentToElement('#table-pdbs', '/data/db/family/lists/{{family_id}}/pdbs-demo.html', false, '/data/db/family/lists/{{family_id}}/pdbs.html'));
        $('#modal-domains').on('show.bs.modal', () => loadContentToElement('#table-domains', '/data/db/family/lists/{{family_id}}/domains-demo.html', false, '/data/db/family/lists/{{family_id}}/domains.html'));
        $('#modal-included-domains').on('show.bs.modal', () => loadContentToElement('#table-included-domains', '/data/db/family/lists/{{family_id}}/sample-demo.html', false, '/data/db/family/lists/{{family_id}}/sample.html'));
    </script>

    {% endblock %}