{% extends 'base.html' %}


{% block title %} OverProt - {{family_id}} {% endblock %}


{% block head %}
    <!-- Molstar CSS & JS -->
    <link crossorigin="anonymous" rel="stylesheet" type="text/css" href="https://www.ebi.ac.uk/pdbe/pdb-component-library/css/pdbe-molstar-1.2.0.css">
    <script type="text/javascript" src="https://www.ebi.ac.uk/pdbe/pdb-component-library/js/pdbe-molstar-plugin-1.2.0.js"></script>

    <!-- d3.js dependency script -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/d3@5.9.2"></script> -->

    <!-- math.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.4.3/math.min.js" integrity="sha512-h6sl9arHHMneDTSQwIiJ6NUSx3/wGWKr9P25MQCnwmTsPMBHIscEtk/5k/zA+IOjvGQUuvn2003cRhX2BUpgqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- OverProt CSS and scripts -->
    <!-- All links are copied from the overprot.ncbr.muni.cz pages -->
    <!-- <link crossorigin="anonymous" rel='stylesheet' type='text/css' href='https://overprot.ncbr.muni.cz/static/overprot-viewer/overprot-viewer.min.css'> -->
    <!-- <script type='text/javascript' src='https://overprot.ncbr.muni.cz/static/overprot-viewer/d3.v5.min.js'></script> -->
    <!-- <script type='text/javascript' src='https://overprot.ncbr.muni.cz/static/overprot-viewer/d3-selection-multi.v1.min.js'></script> -->
    <!-- <script type='text/javascript' src='https://overprot.ncbr.muni.cz/static/overprot-viewer/overprot-viewer.min.js'></script> -->

    <!-- Bootstrap selects CSS & JS, popper js is required -->
    <!-- <link crossorigin="anonymous" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- jQuery loading overlay -->
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js'></script>

    <link crossorigin="anonymous" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- PDB Topology Viewer JS -->
    <script type="text/javascript" src="static/integration/build/pdb-topology-viewer-plugin-2.0.0.js" defer></script>

    <script src="static/integration/integration.js"></script>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col">
        <h3>
            Family: &nbsp; <span class='family-id'>{{family_id}}</span> &nbsp;
            <span class='family-name' style='font-style: italic;'>&nbsp;</span>
        </h3>
        <!-- <overprot-viewer id="main-viewer" file="/data/db/family/diagram/diagram-{{family_id}}.json" height="300" width="1200" color-method="sheet" shape-method="symcdf" beta-connectivity="true" occurrence-threshold="0.2" dispatch-events="true" listen-events="true"></overprot-viewer> -->
        <div>
            <div id="overprot-wrapper"></div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <h3 class="text-center">2D view (2DProts) – domain <span class='domain-id'>{{domain}}</span></h3>
        <div style="height: 500px;">
            <div id="pdb-topology-viewer" style="height: 100%;"></div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <h3 class="text-center">3D view (MolStar) – domain <span class='domain-id'>{{domain}}</span></h3>
        <div style="height: 500px; position: relative;">
            <div id="myViewer"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <h3>Family info</h3>
        <table class="summary">
            <tr>
                <th>PDB entries:</th>
                <td class="num">{{family_info.get('n_pdbs', '?')}} (<button class="btn btn-link p-0" data-toggle="modal" data-target="#modal-pdbs">List</button>)</td>
                <td><span class="info" title="Number of PDB entries that contain a domain from this family."></span></td>
            </tr>
            <tr>
                <th>Domains:</th>
                <td class="num">{{family_info.get('n_domains', '?')}} (<button class="btn btn-link p-0" data-toggle="modal" data-target="#modal-domains">List</button>)</td>
                <td><span class="info" title="Total number of protein domains in the family."></span></td>
            </tr>
            <tr>
                <th>Included domains:</th>
                <td class="num">{{family_info.get('n_sample_without_obsoleted', '?')}} (<button class="btn btn-link p-0" data-toggle="modal" data-target="#modal-included-domains">List</button>)</td>
                <td><span class="info" title="Number of protein domains included in the consensus computation.&NewLine;This equals one domain per each PDB entry, excluding obsoleted entries."></span></td>
            </tr>
        </table>
    </div>
    <div class="col-12 col-md-6">
        <div class="row mb-3">
            <div class="col">
                <b>External links:</b>
                &emsp;
                <a href="https://cathdb.info/version/latest/superfamily/{{family_id}}" target="_blank">
                    <img src="/static/images/cath-logo.png" style="height: 1em;">
                    CATH&nbsp;&UpperRightArrow;
                </a>
                &emsp;
                <a href="https://2dprots.ncbr.muni.cz/family/{{family_id}}" target="_blank">
                    2DProts&nbsp;&UpperRightArrow;
                </a>
                &emsp;
                <!-- <input type="button" value="Save SVG" onclick="saveViewerSvg('main-viewer', 'overprot-{{family_id}}.svg')"> -->
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <b>Download:</b>
                &emsp;
                <a href="/data/db/family/zip_results/results-{{family_id}}.zip" target="_blank">
                    results.zip
                </a>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col text-justify">
        <p>
            On this page you can view the precomputed OverProt results for all structural families in the CATH database.
            The data were updated on {{last_update}}.
            For each family (i.e. CATH superfamily), the list of protein domains and PDB entries was downloaded from PDBe API.
            When a single PDB entry contained multiple domains from the same family, only one domain was included in the algorithm's input.
        </p>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="modal-pdbs" tabindex="-1" role="dialog" aria-labelledby="modallabel-pdbs" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabel-pdbs">PDB list for family {{family_id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <strong>Download:</strong>
                    &emsp;<a href="/data/db/families/{{family_id}}/pdbs.csv" download="pdbs-{{family_id}}.csv">CSV</a>
                    &emsp;<a href="/data/db/families/{{family_id}}/pdbs.json" download="pdbs-{{family_id}}.json">JSON</a>
                </div>
                <div id="table-pdbs" class="striped-table w-100 py-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-domains" tabindex="-1" role="dialog" aria-labelledby="modallabel-domains" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabel-domains">Domain list for family {{family_id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <strong>Download:</strong>
                    &emsp;<a href="/data/db/families/{{family_id}}/domains.csv" download="domains-{{family_id}}.csv">CSV</a>
                    &emsp;<a href="/data/db/families/{{family_id}}/domains.json" download="domains-{{family_id}}.json">JSON</a>
                    &emsp;<a href="/data/db/families/{{family_id}}/family.json" download="family-{{family_id}}.json">JSON by PDB</a>
                </div>
                <div id="table-domains" class="striped-table w-100 py-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-included-domains" tabindex="-1" role="dialog" aria-labelledby="modallabel-included-domains" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modallabel-included-domains">Included domains for family {{family_id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <strong>Download:</strong>
                    &emsp;<a href="/data/db/families/{{family_id}}/sample.csv" download="sample-{{family_id}}.csv">CSV</a>
                    &emsp;<a href="/data/db/families/{{family_id}}/sample.json" download="sample-{{family_id}}.json">JSON</a>
                </div>
                <div id="table-included-domains" class="striped-table w-100 py-2"></div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

<script type='text/javascript'>
    function loadContentToElement(element, source, overwrite = false, fullSource = null) {
        let targetElement = $(element);
        if (targetElement.attr('loaded') && !overwrite) {
            return;
        }
        let loadingText = `<div class="p-2 bg-light">Loading...</div>`;
        let errorText = `<div class="p-2 bg-light">&#x26A0; Failed to load ${source}</div>`;
        targetElement.empty();
        targetElement.append(loadingText);

        fetch(source)
            .then(response => response.ok ? response.text() : errorText)
            .catch(response => errorText)
            .then(text => {
                targetElement.empty();
                targetElement.append(text);
                if (fullSource) {
                    targetElement.find('button.btn-load-all').on('click', () => loadContentToElement(element, fullSource, true));
                }
            });
        targetElement.attr('loaded', true);
    }

    $('#modal-pdbs').on('show.bs.modal', () => loadContentToElement('#table-pdbs', '/data/db/families/{{family_id}}/pdbs-demo.html', false, '/data/db/families/{{family_id}}/pdbs.html'));
    $('#modal-domains').on('show.bs.modal', () => loadContentToElement('#table-domains', '/data/db/families/{{family_id}}/domains-demo.html', false, '/data/db/families/{{family_id}}/domains.html'));
    $('#modal-included-domains').on('show.bs.modal', () => loadContentToElement('#table-included-domains', '/data/db/families/{{family_id}}/sample-demo.html', false, '/data/db/families/{{family_id}}/sample.html'));




    // INTEGRATED VIEW:    

    $.LoadingOverlaySetup({
        background: "rgba(0, 0, 0, 0.8)",
        image: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><circle r="80" cx="500" cy="90"/><circle r="80" cx="500" cy="910"/><circle r="80" cx="90" cy="500"/><circle r="80" cx="910" cy="500"/><circle r="80" cx="212" cy="212"/><circle r="80" cx="788" cy="212"/><circle r="80" cx="212" cy="788"/><circle r="80" cx="788" cy="788"/></svg>',
        imageAnimation: "2.0s rotate_right",
        imageColor: "#FAFAFA",
        text: "Loading domain data...",
        textColor: "#D3D3D3",
        textResizeFactor: 0.3,
    });

    const instance = new IntegratedViewer();
    instance.parseUrl();
    if (!instance.wellcomePage) instance.showCurrentFamilyAndDomain();
    //instance.bindFormSubmitListener();

    // on programmatic or user change of families selector, load domains select options and set value (either [0] or instance.domainId if page is with query params)
    $(instance.familiesSelectEle).on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        // console.log(e, clickedIndex, isSelected, previousValue);
        instance.submitButton.disabled = true;
        const ele = $(instance.domainsSelectEle);
        $.LoadingOverlay('show');
        ele.attr('disabled', true).selectpicker('refresh');
        const selectedFamilyId = $(this).selectpicker('val');
        instance.loadDomainsSelectOptions(selectedFamilyId).then(() => {
            // if it was programmatic change && if it is a wellcome page OR if it was the user's change => select first domain in the list
            if ((clickedIndex === null && instance.wellcomePage) || clickedIndex !== null) {
                // select [0] and refresh.....
                try {
                    // Here it breaks if the user clicks on family selector many times and too fast: "... prop 'value' of undefined"
                    // E.g. 6.10.160.10 has empty domain list: https://overprot.ncbr.muni.cz/data/db/families/6.10.160.10/domains.json
                    // Or maybe we should just disable family selector as well until everything is ready? Seems not.						
                    console.log('selecting default domain option');
                    const defaultOption = ele[0].options[0].value;
                    ele.selectpicker('val', defaultOption);
                    instance.submitButton.disabled = false;
                    ele.attr('disabled', false);
                    ele.selectpicker('refresh');
                    ele.selectpicker('refresh');
                } catch (error) {
                    console.log(error);
                }
                // if it was a programmatic change (on page with query params we set selectors values equal to that params)
            } else if (clickedIndex === null && !instance.wellcomePage) {
                // select instance.domainId and refresh.....
                console.log('selecting current domain option');
                ele.selectpicker('val', instance.domainId);
                instance.submitButton.disabled = false;
                ele.attr('disabled', false);
                ele.selectpicker('refresh');
                ele.selectpicker('refresh');
                // $.LoadingOverlay('hide');
                // console.log('select instance.domainId', ele, instance.domainId);
            } else {
                console.log('Something wrong happened');
                console.log(e, clickedIndex, isSelected, previousValue);
            }
            setTimeout(() => {
                $.LoadingOverlay('hide');
            }, 1000)
        });
    });

    //instance.loadFamiliesSelectOptions().then(() => {
    //    const ele = $(instance.familiesSelectEle);
    //    if (instance.wellcomePage) {
    //        // select [0] and refresh.....
    //        // const defaultOption = ele[0].options[0].value;
    //        const defaultOption = instance.defaultFamilyId;
    //        ele.selectpicker('val', defaultOption);
    //        ele.selectpicker('refresh');
    //        ele.selectpicker('refresh');
    //        // console.log('select [0]', ele, defaultOption);
    //    } else {
    //        // select instance.familyId and refresh.....
    //        ele.selectpicker('val', instance.familyId);
    //        ele.selectpicker('refresh');
    //        ele.selectpicker('refresh');
    //        // console.log('select instance.domainId', ele, instance.domainId);
    //    }
    //})

    if (!instance.wellcomePage) {
        document.addEventListener('DOMContentLoaded', () => {
            console.log('dom loaded')
            instance.setData()
                .then(() => {
                    instance.render1D();
                    instance.render2D();
                    instance.render3D();
                });
        });
    }

</script>




{% endblock %}