div.overprot-viewer {
    position: relative;
}

div.overprot-viewer div.gui {
    display: inline-block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    font-family: sans-serif;
    fill: black;
    stroke: none;
}

/* div.overprot-viewer div.gui div {
    display: inline-block;
} */

div.overprot-viewer svg.canvas text {
    font-family: sans-serif;
    fill: black;
    stroke: none;
}

div.overprot-viewer svg.canvas {
    background: white;
    border: 1px solid lightgray;
}
div.overprot-viewer svg.canvas[rendering] {
    background: none;
    border: none;
}

div.overprot-viewer svg.canvas text {
    user-select: none;
}

div.overprot-viewer g.node rect,
div.overprot-viewer g.node polygon {
    stroke-width: 1px;
}
div.overprot-viewer g.node[pointed] rect,  /*pointed = when the node shape is hovered*/
div.overprot-viewer g.node[pointed] polygon,
div.overprot-viewer g.node[picked] rect,  /*picked = when the node shape has been clicked*/
div.overprot-viewer g.node[picked] polygon {
    stroke-width: 3px;
}

div.overprot-viewer text.node-label {
    dominant-baseline: hanging;
    text-anchor: middle;
}

div.overprot-viewer g.ladder path.vis {
    fill: none;
    stroke: black; /* dynamic */
}
div.overprot-viewer g.ladder path.ghost {
    fill: none;
    stroke: black;
    opacity: 0;
    stroke-width: 10px;
}
div.overprot-viewer g.ladder[pointed] path.vis,
div.overprot-viewer g.ladder[picked] path.vis {
    stroke-width: 3px;
}

div.overprot-viewer g.legend text {
    dominant-baseline: middle;
}

div.overprot-viewer g.legend-item[pointed] rect,
div.overprot-viewer g.legend-item[pointed] path,
div.overprot-viewer g.legend-item[picked] rect,
div.overprot-viewer g.legend-item[picked] path {
    stroke-width: 3px;
}

div.overprot-viewer g.legend text.heatmap-bar-label {
    dominant-baseline: middle;
    text-anchor: end;
}

div.overprot-viewer g.legend g.heatmap-bar-ticks text {
    dominant-baseline: hanging;
    text-anchor: middle;
    font-size: 85%;
}

div.overprot-viewer g.legend g.heatmap-bar-stroke rect {
    stroke: lightgray;
}

div.overprot-viewer text.central-message {
    dominant-baseline: middle;
    text-anchor: middle;
    font-weight: bold;
}
div.overprot-viewer text.temporary-central-message {
    dominant-baseline: middle;
    text-anchor: middle;
    font-weight: bold;
}
div.overprot-viewer rect.temporary-central-message-background {
    fill: white;
    opacity: 75%;
}


div.overprot-viewer div.internal-controls {
    position: absolute;
    left: 5px;
    top: 5px;
}
div.overprot-viewer div.control-panel {
    position: relative;
    z-index: 1;
}
div.overprot-viewer div.control-panel > div {
    display: inline-block;
    vertical-align: top;
    margin-bottom:5px;
    margin-right: 5px;
}
div.overprot-viewer div.button {
    position: relative;
    height: 26px;
    text-align: center;
    background: lightgray;
    /* border: 1px solid darkgray; */
    cursor: pointer;
}
div.overprot-viewer div.button[disabled] {
    color: darkgray;
    cursor: default;
}
div.overprot-viewer div.button:not([disabled]):hover {
    background: darkgray;
}
div.overprot-viewer div.button.square-button {
    width: 26px;
    font-weight: bold;
    text-align: center;
}
div.overprot-viewer div.button-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    margin: 0px;
    margin-left: 7px;
    margin-right: 7px;
    user-select: none;
}
div.overprot-viewer div.button-icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    margin: 0px;
    user-select: none;
}
div.overprot-viewer div.button svg {
    width: 100%;
    height: 100%;
}
div.overprot-viewer div.button path {
    stroke: black;
    fill: black;
    fill-rule: evenodd;
}
div.overprot-viewer div.button path[erase] {
    stroke: lightgray;
    fill: none;
}
div.overprot-viewer div.button path[nofill] {
    fill: none;
}
div.overprot-viewer div.button:not([disabled]):hover path[erase] {
    stroke: darkgray;
}
div.overprot-viewer div.button[disabled] path {
    stroke: darkgrey;
    fill: darkgrey;
}
div.overprot-viewer div.popup {
    position: relative;
}
div.overprot-viewer div.popup#occurrence-threshold {
    min-width: 260px;
}
div.overprot-viewer div.popup#color-method,
div.overprot-viewer div.popup#shape-method {
    min-width: 90px;
}
div.overprot-viewer div.popup#beta-connectivity {
    min-width: 170px;
}
div.overprot-viewer div.popup-tail {
    position: absolute;
    top: 30px;
    left: 0px;
    background: lightgray;
    min-width: 100%;
    /* border: 1px solid darkgray; */
    z-index: 2;
}
div.overprot-viewer div.listbox-item {
    display: block;
    text-align: left;
}
div.overprot-viewer div.listbox-item.selected {
    font-weight: bold;
}

div.overprot-viewer div.slider {
    position: relative;
    height: 25px;
    min-width: 200px;
    background: lightgray;
}
div.overprot-viewer div.slider div.slider-left-value {
    float: left;
    margin-top: 3px;
    margin-left: 5px;
    user-select: none;
    cursor: pointer;
}
div.overprot-viewer div.slider div.slider-right-value {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;
}
div.overprot-viewer div.slider div.slider-main {
    overflow: hidden;
    height: 100%;
    position: relative;
}
div.overprot-viewer div.slider div.slider-rail-ruler {
    display: block;
    position: absolute;
    top: 50%;
    height: 0px;
    left: 8px;
    right: 8px;
    --handle-width: 8px;
    --handle-height: 16px;
    --rail-height: 2px;
    --rail-clickable-height: 16px;
}
div.overprot-viewer div.slider div.slider-rail {
    display: block;
    background: black;
    position: absolute;
    top: calc(-0.5 * var(--rail-height));
    height: var(--rail-height);
    left: calc(-0.5 * var(--handle-width));
    right: calc(-0.5 * var(--handle-width));
}
div.overprot-viewer div.slider div.slider-rail-clickable {
    display: block;
    background: black;
    opacity: 0%;
    position: absolute;
    top: calc(-0.5 * var(--rail-clickable-height));
    height: var(--rail-clickable-height);
    left: calc(-0.5 * var(--handle-width));
    right: calc(-0.5 * var(--handle-width));
    cursor: pointer;
}
div.overprot-viewer div.slider div.slider-handle-ruler {
    display: block;
    position: absolute;
    left: 69%;
}
div.overprot-viewer div.slider div.slider-handle {
    display: block;
    background: gray;
    border-radius: 3px;
    /* opacity: 50%; */
    position: absolute;
    top: calc(-0.5 * var(--handle-height));
    height: var(--handle-height);
    left: calc(-0.5 * var(--handle-width));
    width: var(--handle-width);
    cursor: pointer;
}


div.overprot-viewer div.ext-slider {
    width: 250;
}
div.overprot-viewer div.ext-slider input.slider {
    width: 250;
}
div.overprot-viewer div.ext-slider span.slider-indicator {
    font-weight: bold;
}


div.overprot-viewer div.tooltip {	
    /* position: absolute; */
    position: fixed;
    padding: 4px;
    border: 0px;		
    border-radius: 3px;	
    pointer-events: none;	
    background: gainsboro;
    font: 14px sans-serif;
    z-index: 10;
    opacity: 100%;
}

div.overprot-viewer div.node-tooltip {
    text-align: center;
}

div.overprot-viewer div.control-tooltip {	
    padding: 6px;
}

div.overprot-viewer div.tooltip .tooltip-title {
    font-weight: bold;
}

div.overprot-viewer div.tooltip table {	
    font: 12px sans-serif;
}

div.overprot-viewer div.test-div {
    background: grey;
    height: 100px;
    width: 500px;
    max-width: 50%;
}